<vex-page-layout>

  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Tasks</h1>
        <vex-breadcrumbs [crumbs]="['Apps', 'Tasks']"></vex-breadcrumbs>
      </div>

      <div class="hidden sm:block">
        <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
          <mat-button-toggle value="boxed">Boxed</mat-button-toggle>
          <mat-button-toggle value="fullwidth">Full-Width</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">

    <div class="card overflow-auto -mt-16">

      
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <!-- <mat-tab-group
        animationDuration="0ms"
        mat-stretch-tabs="false"
        mat-align-tabs="start"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab label="My Tasks"></mat-tab>
        <mat-tab label="All Tasks"></mat-tab>
        <mat-tab label="Complete Tasks"></mat-tab>
      </mat-tab-group> -->
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
          @if (selection.isEmpty()) {
            <span>Tasks</span>
          }
          @if (selection.hasValue()) {
            <span>{{ selection.selected.length }}
              Task@if (selection.selected.length > 1) {s} selected</span>
          }
        </h2>

        @if (selection.hasValue()) {
          <div class="mr-4 pr-4 border-r flex-none">
          <button (click)="deleteTasks(selection.selected)" color="primary" mat-icon-button
            matTooltip="Delete selected" type="button">
            <mat-icon svgIcon="mat:delete"></mat-icon>
          </button>

          <button color="primary" mat-icon-button matTooltip="Another action" type="button">
            <mat-icon svgIcon="mat:folder"></mat-icon>
          </button>
          </div>
        }

        <div
          class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">          
          <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
          <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
            placeholder="Search..." type="search">
        </div>
       

        <span class="flex-1"></span>

        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 flex-none" mat-icon-button
          matTooltip="Filter Columns" type="button">
          <mat-icon svgIcon="mat:filter_list"></mat-icon>
        </button>

        <button (click)="createTask()" class="ml-4 flex-none" color="primary" mat-mini-fab matTooltip="Add Task"
          type="button">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)" color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Text Columns -->
        @for (column of columns; track trackByProperty($index, column)) {
          @if (column.type === 'text') {
            <ng-container [matColumnDef]="column.property">
              <th *matHeaderCellDef mat-header-cell (click)="onSortChange(column.property)" class="cursor-pointer"> {{ column.label }}</th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                @if (column.property === 'completed') {
                  <span>{{ row[column.property] ? 'Completed' : 'Pending' }}</span>
                }
                @if (column.property === 'due_date' && row[column.property]) {
                  <span>{{ row[column.property] | date:'short' }}</span>
                }
                @if (column.property !== 'completed' && column.property !== 'due_date') {
                  <span>{{ row[column.property] || '-' }}</span>
                }
              </td>
            </ng-container>
          }
        }

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ task: row }"
              [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
              <mat-icon svgIcon="mat:more_horiz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr (click)="updateTask(row)" *matRowDef="let row; columns: visibleColumns;" @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
    </div>

  </vex-page-layout-content>

</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  @for (column of columns; track column.property) {
    <button (click)="toggleColumnVisibility(column, $event)" class="mat-menu-item block">
      <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
        {{ column.label }}
      </mat-checkbox>
    </button>
  }
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-task="task" matMenuContent>
    <button (click)="updateTask(task)" mat-menu-item>
      <mat-icon svgIcon="mat:edit"></mat-icon>
      <span>Modify</span>
    </button>
    <button (click)="deleteTask(task)" mat-menu-item>
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>