<vex-page-layout mode="card">
  <vex-page-layout-header
    class="pb-16 flex flex-col items-start justify-center"
  >
    <div
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between"
    >
      <div>
        <h1 class="title mt-0 mb-1">Tasks</h1>
        <vex-breadcrumbs [crumbs]="['Apps', 'Tasks']"></vex-breadcrumbs>
      </div>
      <div class="header-actions">
        <mat-button-toggle-group
          [formControl]="layoutCtrl"
          appearance="legacy"
          aria-label="Layout type"
          class="layout-toggle-group"
        >
          <mat-button-toggle value="boxed">
            <mat-icon svgIcon="mat:grid_view" class="mr-1"></mat-icon>
            Boxed
          </mat-button-toggle>
          <mat-button-toggle value="fullwidth">
            <mat-icon svgIcon="mat:crop_16_9" class="mr-1"></mat-icon>
            Full-Width
          </mat-button-toggle>
        </mat-button-toggle-group>
        <button 
          mat-flat-button
          color="primary"
          (click)="openNewTaskModal()"
          class="new-task-header-button"
        >
          <mat-icon svgIcon="mat:add" class="mr-1"></mat-icon>
          New Task
        </button>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content
    [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    class="-mt-6"
  >
    <div class="pb-4">
      <div>
        <span
          class="md:text-32 text-20 text-gray-200 mb-24c block lg:leading-43 leading-16"
        >
          Tasks
        </span>
      </div>
      <div class="table-with-top-header w-full overflow-auto">
        <div class="table-with-tabs-header bg-white">
          <div class="table-mega-header relative">
            <div class="search-box-on-tabs-table relative lg:absolute">
              <div class="xl:max-w-[400px] w-full">
                <div
                  class="bg-foreground rounded-full border px-4 flex-auto flex items-center border-gray-100"
                >
                  <mat-icon
                    class="icon-sm text-secondary"
                    svgIcon="mat:search"
                  ></mat-icon>
                  <input
                    class="px-4 py-2 border-1 border-gray-100 outline-none w-full bg-transparent"
                    placeholder="Search tasks..."
                    type="search"
                    [formControl]="searchCtrl"
                  />
                </div>
              </div>
            </div>
            <!-- <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start"> -->
            <mat-tab-group
              #tasksTabs
              animationDuration="0ms"
              mat-stretch-tabs="false"
              mat-align-tabs="start"
              (selectedTabChange)="onTabChange($event)"
            >
              <mat-tab label="My Tasks">
                <ng-template matTabContent>
                  <vex-tasks-list
                    #tasksList
                    [tasks]="myTasks"
                    [loading]="loading"
                    [error]="error"
                    (taskClick)="onTaskClick($event)"
                    (taskToggle)="onTaskToggle($event.task, $event.completed)"
                    (taskDelete)="onTaskDelete($event)"
                  ></vex-tasks-list>
                </ng-template>
              </mat-tab>
              <mat-tab label="All Tasks">
                <ng-template matTabContent>
                  <vex-tasks-list
                    #tasksList
                    [tasks]="allTasks"
                    [loading]="loading"
                    [error]="error"
                    (taskClick)="onTaskClick($event)"
                    (taskToggle)="onTaskToggle($event.task, $event.completed)"
                    (taskDelete)="onTaskDelete($event)"
                  ></vex-tasks-list>
                </ng-template>
              </mat-tab>
              <mat-tab label="Complete Tasks">
                <ng-template matTabContent>
                  <vex-tasks-list
                    #tasksList
                    [tasks]="completeTasks"
                    [loading]="loading"
                    [error]="error"
                    (taskClick)="onTaskClick($event)"
                    (taskToggle)="onTaskToggle($event.task, $event.completed)"
                    (taskDelete)="onTaskDelete($event)"
                  ></vex-tasks-list>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </vex-page-layout-content>

  <!-- New/Edit Task Modal Component -->
  @if (isNewTaskModalOpen) {
    <vex-new-task-modal
      [task]="editingTask"
      (closed)="closeNewTaskModal()"
      (created)="onCreateTask($event)"
      (updated)="onUpdateTask($event)"
    >
    </vex-new-task-modal>
  }
</vex-page-layout>
