.search-box-on-tabs-table {
  right: 24px;
  top: 12px;
  max-width: 400px;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.table-with-tabs-header {
  position: relative;
}

.table-mega-header {
  position: relative;
}

@media screen and (max-width: 1504px) {
  .search-box-on-tabs-table {
    left: unset;
    right: unset;
    top: unset;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .table-with-tabs-header::before {
    top: 101px;
  }
}

