<div class="add-tag-dialog">
  <h2 mat-dialog-title>{{ title }}</h2>

  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tag name</mat-label>
        <input 
          matInput 
          formControlName="name" 
          placeholder="Enter tag name"
          maxlength="50"
          (keydown.enter)="onSubmit()"
          autocomplete="off">
        <mat-error *ngIf="nameControl?.hasError('required')">
          Tag name is required
        </mat-error>
        <mat-error *ngIf="nameControl?.hasError('maxlength')">
          Tag name must be less than 50 characters
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button 
      mat-button 
      (click)="onCancel()"
      [disabled]="isSubmitting"
      type="button">
      Cancel
    </button>
    <button 
      mat-raised-button 
      color="primary"
      (click)="onSubmit()"
      [disabled]="form.invalid || isSubmitting"
      type="button">
      @if (isSubmitting) {
        <mat-icon class="spinning" svgIcon="mat:refresh"></mat-icon>
      } @else if (isEditMode) {
        <mat-icon svgIcon="mat:edit"></mat-icon>
      } @else {
        <mat-icon svgIcon="mat:add"></mat-icon>
      }
      {{ submitButtonText }}
    </button>
  </mat-dialog-actions>
</div>