<div class="notes-dashboard" [class.mobile]="isMobile">
  <!-- Three Column Layout (Desktop) -->
  <!-- eslint-disable-next-line @angular-eslint/template/use-control-flow -->
  <div class="dashboard-layout" *ngIf="!isMobile">
    <!-- Left Column: Notes Sidebar Navigation -->
    <div class="dashboard-sidebar-left">
      <app-notes-sidebar
        (notebookSelected)="onNotebookSelected($event)"
        (tagSelected)="onTagSelected($event)"
        (filterSelected)="onFilterSelected($event)">
      </app-notes-sidebar>
    </div>

    <!-- Center Column: Notes List -->
    <div class="dashboard-center">
      <app-notes-list
        [selectedNoteId]="selectedNoteId"
        [filterBy]="currentFilter"
        [notebookId]="selectedNotebookId"
        [tagId]="selectedTagId"
        [searchQuery]="searchQuery"
        [notes$]="filteredNotes$"
        (noteSelected)="onNoteSelected($event)">
      </app-notes-list>
    </div>

    <!-- Right Column: Note Editor/Preview -->
    <div class="dashboard-right">
      <!-- eslint-disable-next-line @angular-eslint/template/use-control-flow -->
      <div class="editor-empty" *ngIf="(selectedNote$ | async) === null">
        <div class="empty-content">
          <mat-icon class="empty-icon">note</mat-icon>
          <h3 class="empty-title">Select a note to view</h3>
          <p class="empty-description">Choose a note from the list to start editing</p>
          <button mat-raised-button color="primary" (click)="onNewNote()">
            <mat-icon>add</mat-icon>
            New Note
          </button>
        </div>
      </div>
      
      <!-- eslint-disable-next-line @angular-eslint/template/use-control-flow -->
      <div class="editor-content" *ngIf="selectedNote$ | async as selectedNote">
        <app-note-editor
          [note]="selectedNote"
          (noteUpdated)="onNoteUpdated($event)"
          (noteSaved)="onNoteSaved($event)">
        </app-note-editor>
      </div>
    </div>
  </div>

  <!-- Mobile Layout -->
  <!-- eslint-disable-next-line @angular-eslint/template/use-control-flow -->
  <div class="mobile-layout" *ngIf="isMobile">
    <app-notes-list
      [selectedNoteId]="selectedNoteId"
      [filterBy]="currentFilter"
      [notebookId]="selectedNotebookId"
      [tagId]="selectedTagId"
      [searchQuery]="searchQuery"
      [notes$]="filteredNotes$"
      (noteSelected)="onNoteSelected($event)">
    </app-notes-list>
  </div>
</div>
