@use 'sass:color';
@use 'sass:map';
@use "../../var" as *;

.vex-style-light {
  $sidenav-background: white;

  --navigation-background: var(--background-foreground);
  --sidenav-background: #{$sidenav-background};

  // Sidenav
  --toolbar-background: var(--background-foreground);
  --sidenav-color: var(--text-color);

  // Sidenav Item
  --sidenav-item-background-hover: #{color.adjust($sidenav-background, $lightness: -5%)};
  --sidenav-item-background-active: #{color.adjust($sidenav-background, $lightness: -3%)};
  --sidenav-item-color: var(--text-color);
  --sidenav-item-color-hover: var(--text-color);
  --sidenav-item-color-active: var(--text-color);
  --sidenav-item-dropdown-background: #{color.adjust($sidenav-background, $lightness: -3%)};
  --sidenav-item-dropdown-background-hover: #{color.adjust($sidenav-background, $lightness: -8%)};
  --sidenav-item-dropdown-color-hover: var(--text-color);
  --sidenav-item-dropdown-background-active: #{color.adjust($sidenav-background, $lightness: -10%)};
  --sidenav-item-dropdown-color-active: var(--text-color);
  --sidenav-item-icon-color-active: rgb(var(--color-primary));
  --sidenav-toolbar-background: #{$sidenav-background};
  --sidenav-toolbar-background-rgb: #{color.channel($sidenav-background, "red")}, #{color.channel($sidenav-background, "green")}, #{color.channel($sidenav-background, "blue")};
  --sidenav-section-divider-color: #{map.get($vex-theme-foreground, divider)};

  .sidenav {
    @apply border-r border-r-gray-200;

    .vex-sidenav-user {
      .vex-sidenav-user__subtitle,
      .vex-sidenav-user__dropdown-icon {
        @apply text-contrast-black/50;
      }

      &:hover {
        @apply bg-gray-100 text-gray-900;
      }
    }

    .vex-sidenav-search {
      @apply bg-gray-100 text-gray-600;

      &:hover {
        @apply bg-gray-200 text-gray-900;
      }
    }
  }

  .vex-sidenav-user--open {
    @apply bg-gray-100;
  }
}
