<!-- Evernote/Notion-style formatting toolbar -->
<div class="formatting-toolbar always-visible" [class.disabled]="!isEditorReady">
  <div class="toolbar-content">
    
    <!-- Text Formatting Group -->
    <div class="toolbar-group">
      <button 
        mat-icon-button
        (click)="toggleBold()"
        [class.active]="isBoldActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Bold'"
        [attr.aria-pressed]="isBoldActive()"
        type="button"
        title="Bold (Ctrl+B)">
        <mat-icon svgIcon="mat:format_bold"></mat-icon>
      </button>
      
      <button 
        mat-icon-button
        (click)="toggleItalic()"
        [class.active]="isItalicActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Italic'"
        [attr.aria-pressed]="isItalicActive()"
        type="button"
        title="Italic (Ctrl+I)">
        <mat-icon svgIcon="mat:format_italic"></mat-icon>
      </button>
      
      <button 
        mat-icon-button
        (click)="toggleStrike()"
        [class.active]="isStrikeActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Strikethrough'"
        [attr.aria-pressed]="isStrikeActive()"
        type="button"
        title="Strikethrough">
        <mat-icon svgIcon="mat:strikethrough_s"></mat-icon>
      </button>
      
      <button 
        mat-icon-button
        (click)="toggleCode()"
        [class.active]="isCodeActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Inline Code'"
        [attr.aria-pressed]="isCodeActive()"
        type="button"
        title="Inline Code">
        <mat-icon svgIcon="mat:code"></mat-icon>
      </button>
    </div>
    
    <div class="toolbar-divider"></div>
    
    <!-- Heading Selector -->
    <div class="toolbar-group">
      <button 
        mat-icon-button
        [matMenuTriggerFor]="headingMenu"
        [class.active]="getCurrentHeadingLevel() !== null"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Heading'"
        type="button"
        title="Heading">
        <mat-icon svgIcon="mat:title"></mat-icon>
      </button>
      <mat-menu #headingMenu="matMenu">
        <button 
          mat-menu-item 
          (click)="setHeading(1)"
          [class.active]="isHeadingActive(1)">
          <span class="heading-option h1">Heading 1</span>
        </button>
        <button 
          mat-menu-item 
          (click)="setHeading(2)"
          [class.active]="isHeadingActive(2)">
          <span class="heading-option h2">Heading 2</span>
        </button>
        <button 
          mat-menu-item 
          (click)="setHeading(3)"
          [class.active]="isHeadingActive(3)">
          <span class="heading-option h3">Heading 3</span>
        </button>
        <mat-divider></mat-divider>
        <button 
          mat-menu-item 
          (click)="setParagraph()"
          [class.active]="getCurrentHeadingLevel() === null">
          <span>Paragraph</span>
        </button>
      </mat-menu>
    </div>
    
    <div class="toolbar-divider"></div>
    
    <!-- Lists Group -->
    <div class="toolbar-group">
      <button 
        mat-icon-button
        (click)="toggleBulletList()"
        [class.active]="isBulletListActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Bullet List'"
        [attr.aria-pressed]="isBulletListActive()"
        type="button"
        title="Bullet List">
        <mat-icon svgIcon="mat:format_list_bulleted"></mat-icon>
      </button>
      
      <button 
        mat-icon-button
        (click)="toggleOrderedList()"
        [class.active]="isOrderedListActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Numbered List'"
        [attr.aria-pressed]="isOrderedListActive()"
        type="button"
        title="Numbered List">
        <mat-icon svgIcon="mat:format_list_numbered"></mat-icon>
      </button>
      
      <button 
        mat-icon-button
        (click)="toggleTaskList()"
        [class.active]="isTaskListActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Task List'"
        [attr.aria-pressed]="isTaskListActive()"
        type="button"
        title="Task List (Checklist)">
        <mat-icon svgIcon="mat:checklist"></mat-icon>
      </button>
    </div>
    
    <div class="toolbar-divider"></div>
    
    <!-- Block Elements Group -->
    <div class="toolbar-group">
      <button 
        mat-icon-button
        (click)="toggleBlockquote()"
        [class.active]="isBlockquoteActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Quote'"
        [attr.aria-pressed]="isBlockquoteActive()"
        type="button"
        title="Quote">
        <mat-icon svgIcon="mat:format_quote"></mat-icon>
      </button>
      
      <button 
        mat-icon-button
        (click)="toggleCodeBlock()"
        [class.active]="isCodeBlockActive()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Code Block'"
        [attr.aria-pressed]="isCodeBlockActive()"
        type="button"
        title="Code Block">
        <mat-icon svgIcon="mat:code"></mat-icon>
      </button>
      
      <button 
        mat-icon-button
        (click)="insertHorizontalRule()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Divider'"
        type="button"
        title="Divider (Horizontal Rule)">
        <mat-icon svgIcon="mat:horizontal_rule"></mat-icon>
      </button>
    </div>
    
    <div class="toolbar-divider"></div>
    
    <!-- Utility Group -->
    <div class="toolbar-group">
      <button 
        mat-icon-button
        (click)="clearFormatting()"
        [disabled]="!isEditorReady"
        [attr.aria-label]="'Clear Formatting'"
        type="button"
        title="Clear Formatting">
        <mat-icon svgIcon="mat:format_clear"></mat-icon>
      </button>
    </div>
    
  </div>
</div>
